body {
    font-family: 'Roboto', sans-serif;    
    box-sizing: border-box;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-white;
    
        @include respond(tab) {
            font-size: 0.7rem;
            letter-spacing: normal;
            line-height: normal;

        }

        @include respond(laptop) {
            font-size: 0.85rem;
            letter-spacing: normal;
            line-height: normal;

        }
}

